---
layout: default
---

<div class="page-head">
  <div class="wrap wrap-narrow">
    <h1>{{ page.title }}</h1>
    <p class="count">태그 {{ site.tags.size }}개</p>
  </div>
</div>

<div class="wrap wrap-narrow block">
  {% assign sorted_tags = site.tags | sort %}

  <div class="tag-list tag-index">
    {% for tag in sorted_tags %}
    <a class="pill" href="#{{ tag[0] | slugify }}">{{ tag[0] }}<b>{{ tag[1].size }}</b></a>
    {% endfor %}
  </div>

  {% for tag in sorted_tags %}
  <section class="tag-group" id="{{ tag[0] | slugify }}">
    <h2 class="tag-name">{{ tag[0] }}</h2>
    <ul class="year-list">
      {% for post in tag[1] %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>
